[submodule "engine/libs/stb"]
	path = engine/libs/stb
	url = git@github.com:nothings/stb.git
[submodule "engine/libs/tinyobjloader"]
	path = engine/libs/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "engine/libs/imgui"]
	path = engine/libs/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "engine/libs/fmt"]
	path = engine/libs/fmt
	url = git@github.com:fmtlib/fmt.git
